			body {color:000;background-color:#ccc;font-family:sans-serif,Helvetica,Arial;padding:0;margin:0}
			a:link {color:#20207f;text-decoration:none}
			a:hover {color:#20207f;text-decoration:underline}
			a:active {color:#20207f;text-decoration:none}
			a:visited {color:#20207f;text-decoration:none}
			a.clearnet:link {color:#666666;text-decoration:none}
			a.clearnet:hover {color:#666666;text-decoration:underline}
			a.clearnet:active {color:#666666;text-decoration:none}
			a.clearnet:visited {color:#666666;text-decoration:none}
			a.offline:link {color:#bf0000;text-decoration:none}
			a.offline:hover {color:#bf0000;text-decoration:underline}
			a.offline:active {color:#bf0000;text-decoration:none}
			a.offline:visited {color:#bf0000;text-decoration:none}
			.clearnet {color:#666666}
			.offline {color:#bf0000}
			.country {color:#bf00bf;font-size:0.8em;font-weight:bold}
			span.new {color:#007300;font-weight:bold;font-style:italic;font-size:0.8em;padding:1px;text-shadow:0px 0px 4px #00ff00;cursor:help}
			span.error {color:#ff2a00;font-weight:bold;font-style:italic;font-size:0.8em;cursor:help}
			span.err {color:#ff8000;font-weight:bold;font-style:italic;font-size:0.8em;cursor:help}
			span.errh {color:#ffff00;font-weight:bold;font-style:italic;font-size:0.9em;cursor:help}
			span.e {color:#00bfbf;font-weight:bold;font-style:italic;font-size:0.8em;cursor:help}
			span.rstrd {color:#60bf00;font-weight:bold;font-style:italic;font-size:0.8em;cursor:help}
			span.nextgen {color:#008ebf;font-weight:bold;font-style:italic;font-size:0.8em;text-shadow:0px 0px 4px #00ff00;cursor:help}
			span.nextgen_title {color:#00ffff;font-weight:bold;font-style:italic;font-size:0.8em;text-shadow:0px 0px 4px #00ff00;cursor:help}
			
			
			table {margin-left:auto;margin-right:auto}
			td {padding:5px;vertical-align:top}
			
			h2 {background-color:#5f5f7f;color:white;font-size:0.7em;text-align:left;}
			ul {list-style-type:none;}			
			ul ul {background-color:#f2f2f2;border-bottom:1px solid #999;border-left:1px solid #999;border-right:1px solid #999;font-size:0.8em;line-height:22px;padding-bottom:2px;padding-top:2px;}
			
			li {margin-left:-36px;margin-right:5px}
			.nav-item {
				margin-left: auto;
				margin-right: auto;
			}
			span.wnew {color:#ff0000;font-weight:bold;font-style:italic;font-size:0.8em;padding:1px;text-shadow:0px 0px 4px #ff8080;cursor:help}
			span.nnew {color:#808000;font-weight:bold;font-style:italic;font-size:0.8em;padding:1px;text-shadow:0px 0px 4px #ffff00;cursor:help}
			span.anew {color:#007f7f;font-weight:bold;font-style:italic;font-size:0.8em;padding:1px;text-shadow:0px 0px 4px #00ffff;cursor:help}
			span.snew {color:#7f5f7f;font-weight:bold;font-style:italic;font-size:0.8em;padding:1px;text-shadow:0px 0px 4px #bf8fbf;cursor:help}
			hr {margin-left:-36px;margin-right:5px}
			span.hearts {color:#ff0080;font-size:0.9em;cursor:help}
			span.heartsl {color:#ff80bf;font-size:0.9em;cursor:help}
			#javawarn {z-index:1;position:relative;width:100%;height:auto;background-color:#bf3030;color:#f2f2f2;font-size:0.7em;text-align:center;font-weight:bold;padding:3px 0}
			#javaok {z-index:0;position:relative;width:100%;height:auto;background-color:#bf3030;color:#f2f2f2;font-size:0.7em;text-align:center;font-weight:bold;padding:3px 0}
			boy {color:#0000ff}
			

			div #mainrows {
				padding-top: 15px;
				
			}
			
			.boxtitle {
				padding: 4px;
				display: block;
				width: 100%;
				background-color: #677686;
				color: white;
				border-radius: 5px 5px 0px 0px;
			}

			.boxtitle2 {
				padding: 4px;
				display: block;
				width: 100%;
				background-color: #866767;
				color: white;
				border-radius: 5px 5px 0px 0px;
			}

			.boxtitle3 {
				padding: 4px;
				display: block;
				width: 100%;
				background-color: #6e8667;
				color: rgb(255, 255, 255);
				border-radius: 5px 5px 0px 0px;
			}

			.row-sm-3 {
				border-radius: 5px;
			}

			.boxtitle4 {
				padding: 4px;
				display: block;
				width: 100%;
				background-color: #868067;
				color: white;
				border-radius: 5px 5px 0px 0px;
			}

			.tooltip.show {
				opacity: 1;
			}
			
			.ifcontainer {
				position: relative;
				overflow: hidden;
				width: 100%;
				padding-top: 80%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
			  }
			  
			  /* Then style the iframe to fit in the container div with full height and width */
			  .responsive-iframe {
				border: 0px;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
			  }

			#divifer {
				padding-top: 60%;
			}

			#ifer {
				border: 0px none; 
				margin-left: 0px; 
				height: 500px; 
				margin-top: -290px; 
				width: 100%;
			}
			a[href*="vk.com/"] {
				background:url(../icons/vk.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="drive.google.com/"] {
				background:url(../icons/drive.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="mipt.ru/"] {
				background:url(../icons/mipt.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="moodle.phystech.edu"] {
				background:url(../icons/moodle.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="translate.google.com"] {
				background:url(../icons/translate.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="lib.mipt.ru"] {
				background:url(../icons/libmipt.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="text.ru"] {
				background:url(../icons/textru.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="ranepa.ru"] {
				background:url(../icons/ranepa.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="mipt1.ru"] {
				background:url(../icons/mipt1.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="chrome.google.com/webstore/detail/moodle-breaker/"] {
				background:url(../icons/moodlebreaker.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="docs.google.com/document/"] {
				background:url(../icons/docs.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="docs.google.com/spreadsheets/"] {
				background:url(../icons/sheets.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="docs.google.com/presentation/"] {
				background:url(../icons/slides.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="docs.google.com/forms/"] {
				background:url(../icons/forms.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="wolframalpha.com"] {
				background:url(../icons/wolfram.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="printbox.io"] {
				background:url(../icons/printbox.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="pixlr.com/e/"] {
				background:url(../icons/pixlre.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="pixlr.com/x/"] {
				background:url(../icons/pixlrx.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="pixlr.com/e/"] {
				background:url(../icons/pixlre.png) no-repeat left center;
				padding-left:19px;
			}

			#bloglink {
				background:url(../icons/blog.png) no-repeat left center;
				padding-left:19px;
			}
			
			a[href*="b-ok.cc/"] {
				background:url(../icons/zlib.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="wikimipt.org/"] {
				background:url(../icons/wikimipt.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="symbolab.com/"] {
				background:url(../icons/symbolab.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="desmos.com/"] {
				background:url(../icons/desmos.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="mipt-telecom.ru/"] {
				background:url(../icons/telecom.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="google.com/maps/"] {
				background:url(../icons/gmaps.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="yandex.com/maps/"] {
				background:url(../icons/yamaps.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="veryfood.ru/"] {
				background:url(../icons/default3.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="caltech.edu/"] {
				background:url(../icons/caltech.ico) no-repeat left center;
				padding-left:19px;
			}
			
			a[href*="flibustahezeous3.onion/"] {
				background:url(../icons/flibusta.png) no-repeat left center;
				padding-left:19px;
			}
			a[href*="rutracker.org/"] {
				background:url(../icons/rutracker.png) no-repeat left center;
				padding-left:19px;
			}
			a[href*="torproject.org/"] {
				background:url(../icons/tor.png) no-repeat left center;
				padding-left:19px;
			}
			a[href*="repl.it/"] {
				background:url(../icons/repl.png) no-repeat left center;
				padding-left:19px;
			}
			
			a[href*="solidfiles.com/"] {
				background:url(../icons/default3.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="ru-board.com/"] {
				background:url(../icons/default3.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="twirpx.com/"] {
				background:url(../icons/twirpx.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="utorrent.com/"] {
				background:url(../icons/utorrent.ico) no-repeat left center;
				padding-left:19px;
			}

			a[href*="miptstream.ru/"] {
				background:url(../icons/miptstream.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="palqa.ru/"] {
				background:url(../icons/palqa.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="lectoriy.ru/"] {
				background:url(../icons/lektoriy.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="mipt.one/impress/"] {
				background:url(../icons/mainicon.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="mipt.one/images/miptmap.png"] {
				background:url(../icons/pin.png) no-repeat left center;
				padding-left:19px;
			}

			a[href*="buy.mipt.cc/"] {
				background:url(../icons/buymipt.png) no-repeat left center;
				padding-left:19px;
            }
            
            a[href*="github.com/"] {
				background:url(../icons/github.png) no-repeat left center;
				padding-left:19px;
			}
            

