/* Type */

	body {
		background-color:rgb(45, 45, 45);
	}

	#link {
		color: aqua;
	}

	#main {
		background: #000;
		color: #fff;
		font-size: 16px;
	}

	.divcode {
		display: block;
		width: 100%;
		max-width: 100%;
	}




body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: sticky;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(146, 0, 0);
}

#kpm {
  position: fixed;
  bottom: 0px;
  left: 0px;
  max-height:80%;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

h3 {
	font-size: 4vh;
	font-weight: bold;
	text-align: center;
	padding: 5px 2px 6px 2px;
	color: rgb(255, 255, 255);
}